<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
  >
    <title></title>
  </head>
  <body>
    <main class="container">
      <h1>Enter your birth year</h1>

      <form action="/age/" method="get">
        <input name="year" required type="number" value="{{ request.GET.year }}">
        <!-- přes GET.a získáme klíč a z GET -->
        <button type="submit">Accept</button>
        <input value="You are about {{ result }} years old" readonly>
        
        <a href="/age/">Reset</a>
      </form>
    </main>
  </body>
</html>