<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
  >
    <title></title>
  </head>
  <body>
    <main class="container">
      <h1>Calculator</h1>

      <form action="/calculator/" method="get">
        <input name="a" required type="number" value="{{ request.GET.a }}">
        <!-- přes GET.a získáme klíč a z GET -->
        <input name="b" required type="number" value="{{ request.GET.b }}">
        <input value="{{ result }}" readonly>
        <button type="submit">Calculate</button>
        <a href="/calculator/">Reset</a>
      </form>
    </main>
  </body>
</html>